body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main { 
    padding: 20px;
    text-align: center;
    min-height: 100vh; /* Ensure the main section takes at least the full viewport height */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative; /* Change to relative to allow scrolling */
    width: 100%;
}

form {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form select, form input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: wheat;
    color: #333;
    cursor: pointer;
    border: none;
}

form input[type="submit"]:hover {
    background-color: #f4f4f4;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #333;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.success {
    color: green;
}

.error {
    color: red;
}
